$first-color: #eeeeee;
$second-color: #3f75ff;
$third-color: #cce3ff;
$four-color: #ee9e1e;
$fifty-color: #fbecce;
$six-color: #ffffff;
$seven-color: #000000;
$eight-color: #f1f5f9;
$nine-color: #f6f6f6;
$ten-color: #5fc65f;
$eleven-color: #d3f3df;
$twenty-color:#ccc;
$thirty-color:red;
$main-color: #888888;
